<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
	margin-top: 50px;
}

.row {
	margin: 0px auto;
	width: 1000px;
}
</style>
</head>
<body>
	<div class="container">
			<form method="post" action="../board/insert_ok">
		<h3 class="text-center">글쓰기</h3>
		<div class="row">
				<table class="table">
					<tbody>
						<tr>
							<th width="15%" class="text-center">이름</th>
							<td width="85%"><input type="text" name="name" required></td>
						</tr>
						<tr>
							<th width="15%" class="text-center">제목</th>
							<td width="85%"><input type="text" name="subject" required></td>
						</tr>
						<tr>
							<th width="15%" class="text-center">내용</th>
							<td width="85%"><textarea name="content" rows="10" cols="52" required style="resize: none;"></textarea></td>
						</tr>
						<tr>
							<th width="15%" class="text-center">비밀번호</th>
							<td width="85%"><input type="password" name="pwd" required></td>
						</tr>
					</tbody>
				</table>
		</div>
		<div class="text-right">
			<button class="btn btn-sm btn-info">작성</button> <a class="btn btn-sm btn-info">취소</a>
		</div>
			</form>
	</div>
</body>
</html>