<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
  margin-top: 50px;
}

.row {
  margin: 0px auto;
  width: 1000px;
}
</style>
</head>
<body>
	<div class="container">
		<h3 class="text-center">내용보기</h3>
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
					<th width="15%" class="text-center">번호</th>
					<td width="35%" class="text-center" th:text="${detail.no}"></td>
					<th width="15%" class="text-center">작성일</th>
					<td width="35%" class="text-center" th:text="${detail.regdate}"></td>
					</tr>
					<tr>
					<th width="15%" class="text-center">이름</th>
					<td width="35%" class="text-center" th:text="${detail.name}"></td>
					<th width="15%" class="text-center">조회수</th>
					<td width="35%" class="text-center" th:text="${detail.hit}"></td>
					</tr>
					<tr>
					<th width="15%" class="text-center">제목</th>
					<td colspan="3" th:text="${detail.subject}"></td>
					</tr>
					<tr>
					<td colspan="4" class="text-left" valign="top" height="200">
					<pre style="white-space: pre-wrap;background-color: white;border: none;" th:text="${detail.content}"></pre>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-right">
		<a class="btn btn-sm btn-danger">수정</a>
		<a th:href="@{/board/delete(no=${detail.no})}" class="btn btn-sm btn-info">삭제</a>
		<a href="/board/list" class="btn btn-sm btn-primary">목록</a>
		</div>
	</div>
</body>
</html>