<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
	margin-top: 50px;
}

.row {
	margin: 0px auto;
	width: 500px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<th width="20%">비밀번호 입력 :</th>
						<td><input type="password" name="pwd"></td>
					</tr>
					<tr>
					<td colspan="2"><a class="btn btn-sm btn-danger">삭제</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>