<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
	margin-top: 50px;
}

.row {
	margin: 0px auto;
	width: 1200px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4" th:each="vo:${list}">
				<div class="thumbnail">
					<a th:href="@{/detail(fno=${vo.fno})}"> <img th:src="'http://menupan.com'+${vo.poster}" style="width: 230px; height: 120px">
						<div class="caption">
							<p th:text="${vo.name}"></p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div style="height: 10px;"></div>
		<div class="row text-center">
			<ul class="pagination">
				<li th:if="${startPage>1}"><a th:href="@{/(page=${startPage-1})}">&lt;</a></li>
				<li th:class="${curPage==i?'active':''}" th:each="i:${#numbers.sequence(startPage, endPage)}"><a th:href="@{/(page=${i})}" th:text="${i}"></a></li>
				<li th:if="${endPage<totalPage}"><a th:href="@{/(page=${endPage+1})}">&gt;</a></li>
			</ul>
		</div>
	</div>
</body>
</html>